@font-face {
    font-family: "Travel Sans Regular";
    src: url("/assets/travel-sans-font/TravelSansFont.otf") format("opentype");
    font-weight: regular;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto", "sans-serif", "verdana", "helvetica";
    overflow-x: hidden;

}



.big-txt {
    font-family: "Roboto";
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto",
}


.App {
    background: #D72328
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto", "sans-serif", "verdana", "helvetica",
}

p {
    font-size: 16px;
    font-family: "Roboto", "sans-serif", "verdana", "helvetica",
}



.links {
    color: #ffffff;
    font-family: "Gilroy";
    font-weight: bold;
}

.active {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 20;
    transition: all 0.5 ease;
}

.links:hover {
    color: #b3b3b3;
}

#quote {
    background-color: #ffffff;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D72328;
    padding-left: 20px;
    padding-Right: 20px;
    border-radius: 5px;
}



.info {
    color: #fff;
    transition: all 0.5s ease;
}

.info:hover {
    color: #5F6364;
    cursor: pointer;
    transition: color 0.5s;
}


/* Active dot style */
.slick-dots li.slick-active {
    background: #D72328;
    width: 15px;
    height: 3px;
    border-radius: 10px;
}